@section styles{
    <style>
        .box {
            width: 1000px;
            height: 500px;
            margin: 40px auto;
            color: rgb(23, 34, 187);
        }

        .b1 {
            display: flex;
            margin-top: 20px;
            gap: 35px;
        }

        .tx1 {
            margin-top: 90px;
        }

        .tx2 {
            padding-top: 10px;
        }
    </style>
}
<h4 class="mt-0">ASP.NET MVC Project</h4>
<div class="box">
    <div>
        <div>
            <h2>IsBD-BISEW</h2>
            <h3 class="tx2">IT SCHOLASHIP PROGRAMME</h3>
            <h4>Round-54</h4>
            <hr />
            <div class="b1">
                <div class="tx1">
                    <h4 class="tx2">Trainee ID: <strong>1273081</strong> </h4>
                    <h4 class="tx2">Name:<strong> Khandaker Fahim Islam</strong> </h4>
                    <h4 class="tx2">Batch:<strong> CS/ACSL-A/54/01 </strong> </h4>
                </div>
                <div><img style="width:300px" src="~/Fahim.jpg" alt=""></div>
            </div>
        </div>
    </div>
</div>
